main{
    margin-inline: 5rem;
    margin-block: 2rem;
    .card{
        
        .derecha{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.4rem;
        }
    }
}